body
{
    font-family: "ISOCP", "ISO3098", monospace;    
    color: #333;     
}

.navbar
{
    background-color: #0066CC;
}

.navbar ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar li
{
    margin: 0;
}

.navbar a
{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar a:hover
{
    background-color: #004c99;
}

.page-content
{
    width: 1000px;
    margin: 0 auto;
}

svg 
{
    display: block;
    margin: 15px 0 0;
    background-color: #f0f0f0;
    border: 1px solid black;
}

.svg-wrapper
{
    position: relative;
}

#percentage
{
    position: absolute;
    left: 360px;
    top: 170px;
    transform: translateX(-50%);
}

#w3review
{
    position: absolute;
    left: 660px;
    top: 110px;
}