body
{
    font-family: "ISOCP", "ISO3098", monospace;    
    color: #333;     
}

.page-content
{
    width: 1000px;
    margin: 0 auto;
}

svg 
{
    display: block;
    margin: 15px 0 0;
    background-color: #f0f0f0;
    border: 1px solid black;
}

.svg-wrapper
{
    position: relative;
}

#percentage
{
    position: absolute;
    left: 360px;
    top: 170px;
    transform: translateX(-50%);
}

#w3review
{
    position: absolute;
    left: 660px;
    top: 110px;
}